header{
    background-color: var(--color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
  
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-container img{
    height: 30px;
 
}

.menu-container{
    display: flex;
    list-style-type: none;

}

.menu-container li{
    margin-left: 20px;
    color: var(--color-font-secundary);
    font-size: 16px;
    font-weight: 400;


}

.menu-item{
    font-weight: 700;
}
